{% extends 'cdp/base.html' %}

{% block main %}
<div class="main wrapper clearfix">
    <header>
        <h1>Download the CSV</h1>
        <p>What fields would you like in your CSV?</p>
    </header>

    <aside>
        <h2>How it works.</h2>
        <div class="content">
            <div class="field">
                <label class="checked">Selected</label>
            </div>
            <div class="field">
                <label class="">Unselected</label>
            </div>
            
        </div>
    </aside>

    <form action='/csv/{{ parse }}/save/' method='POST'>
        {% csrf_token %}
        <div>
            <div class="fields">
                {% for object in object_list %}
                    <div class="field" id='field_{{ object.name }}_log_field'>
                        
                        <input name="{{ object.name }}" id='{{ object.name }}' value="{{ object.name }}" type="checkbox" />

                        <label for='{{ object.name }}' id='label_{{ object.name }}'>{{ object.verbose_name }}</label>
                         
                        <div class="clear"></div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <aside class='download'>
            <input type='submit' value="Download" class='download' class="save" />
        </aside>
    </form>
</div> <!-- #main -->
<div class="clear"></div>
{% endblock %}