{% extends 'cdp/base.html' %}

{% block main %}
<div class="main wrapper clearfix">
    <header>
        <h1>Files</h1>
        
    </header>
    <div>
        {% for object in object_list %}
            <div class="file-object" id='file_{{ object.id }}'>
                <div class="file" id='file_{{ object.id }}_log_file'>{{ object.log_file }}</div>
                <div class="created" id='file_{{ object.id }}_created'>{{ object.created }}</div>
                <div class="buttons">
                    <form id='form_{{ object.id }}' action='/parse/{{ object.id }}/'>
                        <input type='submit' class="parse-button" id='file_{{ object.id }}_created' value='Parse' />
                    </form>
                </div>
                <div class="clear"></div>

                <div class="parses">
                    {% for parse in object.parse_set.all %}
                    <div class="parse">
                        <div class="date">{{ parse.created }}</div>
                        <div class="count">{{ parse.devices.count }}</div>
                        <div class="buttons">
                            <form id='form_{{ parse.id }}' action='/csv/{{ parse.id }}/'>
                                <input type='submit' class="csv-button" id='csv_{{ parse.id }}' value='CSV' />
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="clear"></div>
            </div>
        {% endfor %}
    </div>
</div> <!-- #main -->
{% endblock %}