
{% extends 'cdp/base.html' %}

{% block main %}
<div class="main wrapper clearfix">

    <article>
        <header>
            <h1>Parsing done.</h1>
        </header>
       
        <section>
        	<h2>Log File</h2>
        	<div class="log_file">
        		<p class='created'>{{ log_file.created }}</p>
        		<p class="file">{{ log_file.log_file }}</p>
        		<div class="clear"></div>
	        	<p class="added">Counted <span>{{ added }}</span></p>
                <div class="clear"></div>
        	</div>
        </section>
        <section>
            <h2>Invalid Data</h2>
            <p>These elements failed initial validation from the log file, before being added to the system</p>
            <div class="invalid">
            	{% for form in invalid.blocks %}
            		{{ form }}
            	{% empty %}
	            	<div class="clean">
	            		<p>No invalid blocks</p>
	            	</div>
            	{% endfor %}
            </div>
        </section>

        <section>
            <h2>Invalid forms</h2>
            <p>These elements failed to be pushed into the database after collection from the log file</p>
            <div class="invalid">
            	{% for form in invalid.forms %}
            	{{ form }}
            	{% empty %}
            	<div class="clean">
            		<p>No invalid data</p>
            	</div>
            	{% endfor %}
            </div>
        </section>
        
    </article>

    <aside>
        <h3>Command Line</h3>
        <p>If your file is huge and the web interface isn't working, the parsing process can be performed on the command line
            using the implemented python lib "PlogBlock"</p>
        <p>Some requirements may need to be installed prior to use, namely python. To use the command line, <a href="#">click here</a>.</p>
    </aside>

</div> <!-- #main -->
{% endblock %}